<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daniel J Holmes | Portfolio</title>
    <link rel="icon" href="/app/favicon.ico?v=2" />
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  </head>

  <body class="font-body" id="landing">
    <!-- NAVBAR -->
    <nav class="flex p-10 font-primary font-bold font-header ml-18 mr-18">
      <!-- NAV WEBSITE ICONS-->
      <ul class="flex justify-center gap-5 rounded-full border-2 p-5">
        <li
          class="self-center transform ease-in-out duration-500 hover:scale-125"
        >
          <a href="https://github.com/senditholmes" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="50"
              fill="currentColor"
              viewBox="0 0 16 16"
              class="cursor-pointer"
            >
              <title>Github Icon</title>
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
              />
            </svg>
          </a>
        </li>

        <li
          class="self-center transform ease-in-out duration-500 hover:scale-125"
        >
          <a href="https://leetcode.com/u/senditholmes/" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#000000"
              width="50px"
              height="50px"
              viewBox="0 0 24 24"
              class="cursor-pointer"
              role="img"
            >
              <title>LeetCode icon</title>
              <path
                d="M16.102 17.93l-2.697 2.607c-.466.467-1.111.662-1.823.662s-1.357-.195-1.824-.662l-4.332-4.363c-.467-.467-.702-1.15-.702-1.863s.235-1.357.702-1.824l4.319-4.38c.467-.467 1.125-.645 1.837-.645s1.357.195 1.823.662l2.697 2.606c.514.515 1.365.497 1.9-.038.535-.536.553-1.387.039-1.901l-2.609-2.636a5.055 5.055 0 0 0-2.445-1.337l2.467-2.503c.516-.514.498-1.366-.037-1.901-.535-.535-1.387-.552-1.902-.038l-10.1 10.101c-.981.982-1.494 2.337-1.494 3.835 0 1.498.513 2.895 1.494 3.875l4.347 4.361c.981.979 2.337 1.452 3.834 1.452s2.853-.512 3.835-1.494l2.609-2.637c.514-.514.496-1.365-.039-1.9s-1.386-.553-1.899-.039zM20.811 13.01H10.666c-.702 0-1.27.604-1.27 1.346s.568 1.346 1.27 1.346h10.145c.701 0 1.27-.604 1.27-1.346s-.569-1.346-1.27-1.346z"
              />
            </svg>
          </a>
        </li>

        <li
          class="self-center transform ease-in-out duration-500 hover:scale-125"
        >
          <a
            href="https://www.linkedin.com/in/daniel-h-6234402a1/"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 50 50"
              class="cursor-pointer"
              width="50px"
              height="50px"
              role="img"
            >
              <title>LinkedIn Icon</title>
              <path
                d="M 9 4 C 6.2504839 4 4 6.2504839 4 9 L 4 41 C 4 43.749516 6.2504839 46 9 46 L 41 46 C 43.749516 46 46 43.749516 46 41 L 46 9 C 46 6.2504839 43.749516 4 41 4 L 9 4 z M 9 6 L 41 6 C 42.668484 6 44 7.3315161 44 9 L 44 41 C 44 42.668484 42.668484 44 41 44 L 9 44 C 7.3315161 44 6 42.668484 6 41 L 6 9 C 6 7.3315161 7.3315161 6 9 6 z M 14 11.011719 C 12.904779 11.011719 11.919219 11.339079 11.189453 11.953125 C 10.459687 12.567171 10.011719 13.484511 10.011719 14.466797 C 10.011719 16.333977 11.631285 17.789609 13.691406 17.933594 A 0.98809878 0.98809878 0 0 0 13.695312 17.935547 A 0.98809878 0.98809878 0 0 0 14 17.988281 C 16.27301 17.988281 17.988281 16.396083 17.988281 14.466797 A 0.98809878 0.98809878 0 0 0 17.986328 14.414062 C 17.884577 12.513831 16.190443 11.011719 14 11.011719 z M 14 12.988281 C 15.392231 12.988281 15.94197 13.610038 16.001953 14.492188 C 15.989803 15.348434 15.460091 16.011719 14 16.011719 C 12.614594 16.011719 11.988281 15.302225 11.988281 14.466797 C 11.988281 14.049083 12.140703 13.734298 12.460938 13.464844 C 12.78117 13.19539 13.295221 12.988281 14 12.988281 z M 11 19 A 1.0001 1.0001 0 0 0 10 20 L 10 39 A 1.0001 1.0001 0 0 0 11 40 L 17 40 A 1.0001 1.0001 0 0 0 18 39 L 18 33.134766 L 18 20 A 1.0001 1.0001 0 0 0 17 19 L 11 19 z M 20 19 A 1.0001 1.0001 0 0 0 19 20 L 19 39 A 1.0001 1.0001 0 0 0 20 40 L 26 40 A 1.0001 1.0001 0 0 0 27 39 L 27 29 C 27 28.170333 27.226394 27.345035 27.625 26.804688 C 28.023606 26.264339 28.526466 25.940057 29.482422 25.957031 C 30.468166 25.973981 30.989999 26.311669 31.384766 26.841797 C 31.779532 27.371924 32 28.166667 32 29 L 32 39 A 1.0001 1.0001 0 0 0 33 40 L 39 40 A 1.0001 1.0001 0 0 0 40 39 L 40 28.261719 C 40 25.300181 39.122788 22.95433 37.619141 21.367188 C 36.115493 19.780044 34.024172 19 31.8125 19 C 29.710483 19 28.110853 19.704889 27 20.423828 L 27 20 A 1.0001 1.0001 0 0 0 26 19 L 20 19 z M 12 21 L 16 21 L 16 33.134766 L 16 38 L 12 38 L 12 21 z M 21 21 L 25 21 L 25 22.560547 A 1.0001 1.0001 0 0 0 26.798828 23.162109 C 26.798828 23.162109 28.369194 21 31.8125 21 C 33.565828 21 35.069366 21.582581 36.167969 22.742188 C 37.266572 23.901794 38 25.688257 38 28.261719 L 38 38 L 34 38 L 34 29 C 34 27.833333 33.720468 26.627107 32.990234 25.646484 C 32.260001 24.665862 31.031834 23.983076 29.517578 23.957031 C 27.995534 23.930001 26.747519 24.626988 26.015625 25.619141 C 25.283731 26.611293 25 27.829667 25 29 L 25 38 L 21 38 L 21 21 z"
              />
            </svg>
          </a>
        </li>

        <li
          class="text-2xl self-center bg-skyblue rounded-full transition-all transform hover:bg-sky-200 ease-in delay-75 duration-300 hover:scale-105 cursor-pointer p-5"
        >
          <a href="/assets/filesToSend/danieljamesholmes-resume.pdf" download>
            Download CV
          </a>
        </li>
      </ul>
      <!---LINKS TO PAGE SECTIONS-->
      <ul
        class="flex gap-5 ml-auto text-2xl rounded-full border-2 justify-center align-baseline items-center pl-5 pr-5"
      >
        <li
          class="bg-skyblue rounded-full p-5 transition-all transform hover:bg-sky-200 ease-in duration-300 hover:scale-110 cursor-pointer"
        >
          <a href="#aboutme" class="mt-1">About Me</a>
        </li>
        <li
          class="bg-skyblue rounded-full p-5 transition-all transform hover:bg-sky-200 ease-in duration-300 hover:scale-110 cursor-pointer"
        >
          <a href="#repo-section" class="mt-1">Projects</a>
        </li>
        <li
          class="bg-skyblue rounded-full p-5 transition-all transform hover:bg-sky-200 ease-in duration-300 hover:scale-110 cursor-pointer"
        >
          <a href="#contact-form-section" class="mt-1">Contact Me</a>
        </li>
      </ul>
    </nav>

    <!-- MAIN CONTAINER -->
    <div class="flex flex-col gap-8">
      <!-- LANDING  -->
      <div class="flex-flex-col h-screen ml-20 mr-20">
        <div class="flex flex-col">
          <h1
            class="flex self-center font-main font-bold text-8xl p-5 transform hover:scale-125 ease-in-out duration-1000"
          >
            Daniel J Holmes
          </h1>
          <h2
            class="flex self-center font-header font-semibold text-4xl underline decoration-orange underline-offset-4 mb-8"
          >
            Fullstack Developer | Educator
          </h2>
        </div>

        <!-- HERO GRID -->
        <div class="grid grid-cols-4 grid-rows-4 mt-5">
          <div
            class="flex col-start-2 col-end-4 row-start-1 row-end-2 justify-center items-center"
          >
            <img src="./assets/images/frowning.png" height="250" width="250" />
          </div>

          <div
            class="col-start-1 col-span-1 row-start-1 rounded-lg border-2 p-5 flex flex-col justify-around"
          >
            <div>
              <h3 class="font-header text-3xl font-bold text-center">
                Frontend
              </h3>
              <div class="flex gap-1 justify-between">
                <img
                  src="./assets/images/html-icon.svg"
                  height="50"
                  width="50"
                />
                <img
                  src="./assets/images/css-icon.svg"
                  height="50"
                  width="50"
                />
                <img src="./assets/images/js-icon.svg" height="50" width="50" />
                <img src="./assets/images/ts-icon.svg" height="50" width="50" />
                <img
                  src="./assets/images/react-js-icon.svg"
                  height="50"
                  width="50"
                />
              </div>
            </div>

            <div>
              <h3 class="font-header text-3xl font-bold text-center">
                Backend
              </h3>
              <div class="flex gap-1 justify-around">
                <img
                  src="./assets/images/node-icon.svg"
                  height="50"
                  width="50"
                />
                <img
                  src="./assets/images/python-icon.svg"
                  height="50"
                  width="50"
                />
              </div>
            </div>
          </div>

          <div
            class="col-start-4 col-span-1 row-start-1 text-right rounded-lg border-2 p-5 flex flex-col justify-around"
          >
            <div>
              <h3 class="font-header text-3xl font-bold text-center">
                General Programming
              </h3>
              <div class="flex gap-1 justify-between">
                <p class="self-center text-2xl text-red-800">CS50</p>
                <img
                  src="./assets/images/google-icon.svg"
                  height="50"
                  width="50"
                />
                <img
                  src="./assets/images/ibm-icon.svg"
                  height="50"
                  width="50"
                />
                <img
                  src="./assets/images/sqlite-icon.svg"
                  height="50"
                  width="50"
                />
                <img
                  src="./assets/images/mysql-icon.svg"
                  height="50"
                  width="50"
                />
              </div>
            </div>

            <div>
              <h3 class="font-header text-3xl font-bold">
                Teaching Professional
              </h3>
              <div class="flex gap-1 justify-center">
                <p>TEFL | TESOL | PGCE | TOPIK 6</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!----- ABOUT ME SECTION------->
      <div class="ml-20 mr-20 pt-10 flex flex-col gap-52" id="aboutme">
        <div class="transform ease-in-out duration-300" id="nicetomeetyou">
          <h2 class="font-main text-6xl mb-5">Nice to meet you...</h2>
          <div>
            <p class="text-4xl leading-loose">
              I'm a junior developer learning as much as possible about software
              engineering.
            </p>
          </div>
        </div>

        <div class="text-right" id="educator">
          <h2 class="font-main text-6xl mb-5">...educator turned engineer</h2>
          <div class="text-xl">
            <p class="leading-loose">
              I'm sick of using five different apps to manage my daily tasks.
            </p>
            <p class="leading-loose">
              I am creating an app to condense my to-do, notes- calorie tracker,
              workout splits, and reminders.
            </p>
          </div>
          <p class="leading-loose text-2xl font-bold mt-5">
            You can find the work-in-progress **here**.
          </p>
        </div>

        <div class="" id="teamup">
          <h2 class="font-main text-6xl mb-5">...lets team up!</h2>
          <div class="text-xl">
            <p class="leading-loose">
              I am currently enrolled in a coding bootcamp aiming to gain the
              skills and experience to make a meaningful difference to a team in
              the near future.
            </p>

            <p class="leading-loose">
              Whatever I don't know now I can learn quickly on the job.
            </p>

            <p class="leading-loose">
              I have been in the education industry for six years and I am a
              firm believer of the growth mindset. Instead of comparing myself
              to others, I am in a constant battle against myself to become
              better and better.
            </p>
          </div>
          <p class="leading-loose text-2xl font-bold mt-5">
            Download my CV, take a look around, and get in touch!
          </p>
        </div>
      </div>

      <!-- REPOS -->
      <div class="h-screen">
        <h2
          class="font-main text-4xl font-bold mt-32 text-center pt-10 pb-10"
          id="repo-section"
        >
          Some of my repos. Good, bad and the ugly!
        </h2>

        <ul class="grid grid-cols-4 gap-5 pt-10 pb-10 mb-52 ml-20 mr-20">
          <% repos.forEach((repo)=> { %>

          <a href="<%= repo.url %>" target="#">
            <li
              class="flex flex-col flex-1 px-2 py-2 hover:ring-2 ring-skyblue cursor-pointer"
            >
              <h3 class="font-header font-bold text-lg"><%= repo.name %></h3>

              <p
                class="text-decoration-line: underline decoration-skyblue truncate"
              >
                <%= repo.url %>
              </p>
              <p><%= repo.created_at %></p>
              <p><%= repo.language %></p>
            </li>
          </a>
          <% }) %>
        </ul>
      </div>

      <!-- CONTACT SECTION -->
      <div
        class="flex justify-between h-screen gap-10 ml-20 mr-20"
        id="contact-form-section"
      >
        <div class="flex flex-col justify-center self-center">
          <h2 class="font-header text-4xl font-bold mt-3">
            I am ready for work.
          </h2>
          <p class="text-xl">
            Please let me know about any oppportunies you have using this form.
          </p>
        </div>

        <!-- FORM -->
        <form
          class="self-center mt-5 border-solid border-2 border-sky-500 rounded px-10 py-10"
          id="contact-form "
        >
          <div class="flex flex-wrap mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-4 ml-1"
                for="grid-name"
              >
                Name
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white mt-1"
                id="grid-name"
                type="text"
              />
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-4 ml-1"
                for="grid-company"
              >
                Company
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-1"
                id="grid-company"
                type="text"
              />
            </div>

            <div class="w-full md:w-1/2 px-3">
              <label
                class="font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-4 ml-1"
                for="grid-role"
              >
                Role
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-1"
                id="grid-role"
                type="text"
              />
            </div>

            <div class="w-full md:w-1/2 px-3">
              <label
                class="font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-4 ml-1"
                for="grid-language"
              >
                Required Languages
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-1"
                id="grid-language"
                type="text"
              />
            </div>
          </div>

          <button type="submit" class="self-center ml-4" form="contact-form">
            <p class="rounded-full bg-skyblue p-3 pl-5 pr-5">Submit</p>
          </button>
        </form>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="flex content-center justify-between mt-6 mb-6 ml-20 mr-20">
      <p class="text-lg">Daniel Holmes 2024 &copy;</p>

      <div class="flex gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-github"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-instagram"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#000000"
          width="40px"
          height="40px"
          viewBox="0 0 24 24"
          role="img"
        >
          <title>LeetCode icon</title>
          <path
            d="M16.102 17.93l-2.697 2.607c-.466.467-1.111.662-1.823.662s-1.357-.195-1.824-.662l-4.332-4.363c-.467-.467-.702-1.15-.702-1.863s.235-1.357.702-1.824l4.319-4.38c.467-.467 1.125-.645 1.837-.645s1.357.195 1.823.662l2.697 2.606c.514.515 1.365.497 1.9-.038.535-.536.553-1.387.039-1.901l-2.609-2.636a5.055 5.055 0 0 0-2.445-1.337l2.467-2.503c.516-.514.498-1.366-.037-1.901-.535-.535-1.387-.552-1.902-.038l-10.1 10.101c-.981.982-1.494 2.337-1.494 3.835 0 1.498.513 2.895 1.494 3.875l4.347 4.361c.981.979 2.337 1.452 3.834 1.452s2.853-.512 3.835-1.494l2.609-2.637c.514-.514.496-1.365-.039-1.9s-1.386-.553-1.899-.039zM20.811 13.01H10.666c-.702 0-1.27.604-1.27 1.346s.568 1.346 1.27 1.346h10.145c.701 0 1.27-.604 1.27-1.346s-.569-1.346-1.27-1.346z"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#000000"
          width="40px"
          height="40px"
          viewBox="0 0 24 24"
          role="img"
        >
          <path
            d="M12.17 1.272a.732.732 0 0 0-.718.732v13.914a.732.732 0 0 0 .732.732.732.732 0 0 0 .732-.732V2.004a.732.732 0 0 0-.745-.732zM23.246 5.44a.734.734 0 0 0-.277.063l-6.282 2.804a.733.733 0 0 0 0 1.336l6.282 2.813a.738.738 0 0 0 .3.065.732.732 0 0 0 .297-1.4L18.78 8.976l4.786-2.137a.734.734 0 0 0 .37-.966.734.734 0 0 0-.69-.433zm-22.5 5.032a.732.732 0 0 0-.722.915c1.736 6.677 7.775 11.341 14.683 11.341a.732.732 0 0 0 0-1.464A13.706 13.706 0 0 1 1.44 11.02a.732.732 0 0 0-.694-.547z"
          />
        </svg>
      </div>
    </footer>

    <script src="/scripts/scripts.js" type="module"></script>
  </body>
</html>
