<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daniel J Holmes | Portfolio</title>
    <link rel="icon" href="/app/favicon.ico?v=2" />
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  </head>

  <body class="font-body ml-20 mr-20">
    <!-- NAVBAR -->
    <nav class="flex p-5 font-primary font-bold font-header">
      <ul class="flex flex-1 align-middle content-center items-center gap-5">
        <li>
          <img
            class="cursor-pointer"
            src="./assets/images/frowning.png"
            width="150"
            height="150"
          />
        </li>

        <li class="flex mr-auto rounded-full bg-skyblue p-3">
          Current Project | Current App
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-github"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
            />
          </svg>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-instagram"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
            />
          </svg>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#000000"
            width="40px"
            height="40px"
            viewBox="0 0 24 24"
            role="img"
          >
            <title>LeetCode icon</title>
            <path
              d="M16.102 17.93l-2.697 2.607c-.466.467-1.111.662-1.823.662s-1.357-.195-1.824-.662l-4.332-4.363c-.467-.467-.702-1.15-.702-1.863s.235-1.357.702-1.824l4.319-4.38c.467-.467 1.125-.645 1.837-.645s1.357.195 1.823.662l2.697 2.606c.514.515 1.365.497 1.9-.038.535-.536.553-1.387.039-1.901l-2.609-2.636a5.055 5.055 0 0 0-2.445-1.337l2.467-2.503c.516-.514.498-1.366-.037-1.901-.535-.535-1.387-.552-1.902-.038l-10.1 10.101c-.981.982-1.494 2.337-1.494 3.835 0 1.498.513 2.895 1.494 3.875l4.347 4.361c.981.979 2.337 1.452 3.834 1.452s2.853-.512 3.835-1.494l2.609-2.637c.514-.514.496-1.365-.039-1.9s-1.386-.553-1.899-.039zM20.811 13.01H10.666c-.702 0-1.27.604-1.27 1.346s.568 1.346 1.27 1.346h10.145c.701 0 1.27-.604 1.27-1.346s-.569-1.346-1.27-1.346z"
            />
          </svg>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#000000"
            width="40px"
            height="40px"
            viewBox="0 0 24 24"
            role="img"
          >
            <path
              d="M12.17 1.272a.732.732 0 0 0-.718.732v13.914a.732.732 0 0 0 .732.732.732.732 0 0 0 .732-.732V2.004a.732.732 0 0 0-.745-.732zM23.246 5.44a.734.734 0 0 0-.277.063l-6.282 2.804a.733.733 0 0 0 0 1.336l6.282 2.813a.738.738 0 0 0 .3.065.732.732 0 0 0 .297-1.4L18.78 8.976l4.786-2.137a.734.734 0 0 0 .37-.966.734.734 0 0 0-.69-.433zm-22.5 5.032a.732.732 0 0 0-.722.915c1.736 6.677 7.775 11.341 14.683 11.341a.732.732 0 0 0 0-1.464A13.706 13.706 0 0 1 1.44 11.02a.732.732 0 0 0-.694-.547z"
            />
          </svg>
        </li>
      </ul>
    </nav>

    <!-- DISPLAY GRID -->
    <div id="display-content" class="flex flex-col gap-8">
      <!-- HERO SECTION -->
      <div class="flex flex-col">
        <h1 class="flex self-center font-main font-extrabold text-4xl">
          Daniel J Holmes
        </h1>
        <h2
          class="flex self-center font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-10"
        >
          Fullstack Developer | Software Engineer
        </h2>
      </div>

      <!-- ABOUT SECTION-->
      <div class="grid grid-cols-4 grid-rows-4">
        <div class="col-start-1 col-span-2">
          <h3 class="font-header text-xl font-bold">Frontend</h3>
          <p>I build websites using all the main frontend technologies.</p>
          <p>HTML5, CSS, JS, TypeScript, React, HTMX</p>
        </div>

        <div class="col-start-3 col-span-2 row-start-2 text-right">
          <h3 class="font-header text-xl font-bold">Backend</h3>
          <p>I manage the server side logic with popular backend frameworks.</p>
          <p>Node, NPM, Django, SQL.</p>
        </div>

        <div class="col-start-1 col-span-2 row-start-3">
          <h3 class="font-header text-xl font-bold">General Programming</h3>
          <p>
            I understand version control, algorithms, data structures, and
            different programming approaches.
          </p>
          <p>
            Github, CLI, Python (Pandas), CS5O, Google Data Analytics, IBM Data
            Analytics
          </p>
        </div>

        <div class="col-start-3 col-span-2 row-start-4 text-right">
          <h3 class="font-header text-xl font-bold">Teaching Professional</h3>
          <p>I am a certified teacher with 6 years of experience.</p>
          <p>TEFL, TESOL, PGCE</p>
        </div>
      </div>

      <!-- REPOS -->
      <ul class="grid grid-cols-4 gap-5 pt-10 pb-10">
        <% repos.forEach((repo)=> { %>

        <li class="flex flex-col flex-1">
          <h3><%= repo.name %></h3>
          <p class="break-words">
            <a href="<%= repo.url %>" target="#"><%= repo.url %> </a>
          </p>
          <p><%= repo.created_at %></p>
          <p><%= repo.language %></p>
        </li>
        <% }) %>
      </ul>

      <!-- FORM -->
      <div
        class="flex flex-col justify-center border-solid border-2 border-sky-500 w-[600px] self-center"
      >
        <div class="flex flex-col justify-center self-center">
          <h2 class="font-header text-xl font-bold mt-3">
            I am ready for work.
          </h2>
          <p>
            Please let me know about any oppportunies you have using the form
            below.
          </p>
        </div>

        <form class="w-full max-w-lg self-center mt-5" id="contact-form">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-4 ml-1"
                for="grid-first-name"
              >
                Name
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white mt-1"
                id="grid-first-name"
                type="text"
              />
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-4 ml-1"
                for="grid-last-name"
              >
                Company
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-1"
                id="grid-last-name"
                type="text"
              />
            </div>

            <div class="w-full md:w-1/2 px-3">
              <label
                class="font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-4 ml-1"
                for="grid-role"
              >
                Role
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-1"
                id="grid-last-name"
                type="text"
              />
            </div>

            <div class="w-full md:w-1/2 px-3">
              <label
                class="font-header font-semibold text-lg underline decoration-orange underline-offset-4 mb-4 ml-1"
                for="grid-language"
              >
                Required Languages
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-1"
                id="grid-last-name"
                type="text"
              />
            </div>
          </div>
        </form>

        <button type="submit" class="self-center" form="contact-form">
          <p class="rounded-full bg-skyblue p-3 pl-5 pr-5 mb-3">Submit</p>
        </button>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="flex content-center justify-between mt-20 mb-6">
      <p>This is a footer item</p>
      <form
        class="flex items-center cursor-pointer"
        method="get"
        action="/downloadCv"
      >
        <button
          type="submit"
          class="flex flex-col items-center content-center mr-5"
        >
          <img src="./assets/icons/box-arrow-down.svg" width="40" />
        </button>
      </form>

      <p>And so is this...</p>
    </footer>
  </body>
</html>
